h1{
	color: lightblue;
	text-align: center;
}

body{
	background-size: cover;
	background-image: url("https://deih43ym53wif.cloudfront.net/shutterstock_329793749-lower-res_fcb9278bd1.jpeg");
}

table {
	border: 1px solid black;
}

td {
	width: 33%;
	border: 1px solid black;
}

img {
	width: 50%;
}
